<!DOCTYPE html>
<html>
<head>
    {% extends "yyApp/nav.html" %}
    <meta charset="UTF-8">
    <title>입양자 회원가입</title>
</head>
{% block body %}
<body>
<div class="container mt-5 pr-0 pl-0 h-100 d-flex flex-column">
    <div style="text-align:center;">
        <h4>입양자 회원가입</h4>
        <h6 style="color:red;">{{ error }}</h6>
    </div>
    <form action="." method="post" class="post-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="memberID">아이디</label>
            <input type="text" class="form-control" id="memberID" name="memberID">
        </div>
        <div class="form-group">
            <label for="memberPW">비밀번호</label>
            <input type="password" class="form-control" id="memberPW" name="memberPW">
        </div>
        <div class="form-group">
            <label for="memberPW_check">비밀번호 확인</label>
            <input type="password" class="form-control" id="memberPW_check" name="memberPW_check">
        </div>
        <div class="form-group">
            <label for="memberName">이름</label>
            <input type="text" class="form-control" id="memberName" name="memberName">
        </div>
        <div class="form-group">
            <label for="memberEmail">이메일</label>
            <input type="email" class="form-control" id="memberEmail" name="memberEmail">
        </div>
        <div class="form-group">
            <label for="memberAge">생년월일</label>
            <input type="date" class="form-control" id="memberAge" name="memberAge">
        </div>
        <div class="form-group">
            <label for="buttons">거주형태</label><br>
            <div class="btn-group" id="buttons">
                <label class="btn btn-outline-primary">
                    <input type="radio" name="adopterHouse" value="apartment">
                    아파트
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="adopterHouse" value="studio">
                    원룸
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="adopterHouse" value="detachedhouse">
                    단독주택
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="adopterHouse" value ="etc">
                    기타
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="adopterAddress">거주지</label>
            <select class="form-control selectpicker noborder" name="adopterAddress" id="adopterAddress">
                <option value="seoul">서울</option>
                <option value="ggnorth">경기북부</option>
                <option value="ggsouth">경기남부</option>
                <option value="gangwon">강원</option>
                <option value="ccnorth">충북</option>
                <option value="ccsouth">충남</option>
                <option value="jlnorth">전북</option>
                <option value="jlsouth">전남</option>
                <option value="gsnorth">경북</option>
                <option value="gssouth">경남</option>
                <option value="jeju">제주</option>
                </select>
        </div>

        <div class="form-group">
            <label for="adopterFamily_radio_list">가족</label><br>
            <div class="btn-group" id="adopterFamily_radio_list">
                <label class="btn btn-outline-primary">
                    <input type="radio" name="adopterFamily" value="five">
                    5인 이상
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="adopterFamily" value="threefour">
                    3~4인 가구
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="adopterFamily" value="two">
                    2인 가구
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="adopterFamily" value="one">
                    1인 가구
                </label>
            </div>
        </div>
        <input type="submit" value="회원가입" class="btn btn-outline-dark">
    </form>
</div>
</body>
{% endblock %}
</html>
