<!-- last modified: Feb 7, 12:25-->


<!DOCTYPE html>
<html lang = "ko">
<head>
</head>


<style>
.pet_list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;   
}

.pet_info {
    display:grid;
    padding: 30px;
    align-items: center;
    grid-template-rows: 400px auto;    

}

.pet_info:hover {
background: silver;
cursor: pointer;
}


.photo {
    text-align: center;
}


.txt {
    text-align: center;
}

.search_checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    

}

</style>

<!-- JAVASCRIPT -->
<script type="text/javascript">
function enterSearch() {
    if(event.keyCode == 13){
        myFunction();  // 실행할 이벤트
    }
}
function myFunction() {
    var x = document.getElementById("text").value;
    window.location.href = "http://cybertramp.net/search/"+x;
}

</script>


<body>
    <div id="content"> 

        <!-- center 시작 -->
        <div id="sub_con">

            <!-- 콘텐츠 영역  적용하세요 시작 -->
        <form id="searchList" name="searchList" action="/front/awtis/protection/protectionList.do" method="get" onsubmit="return false;">
        <input type="hidden" name="boardId" value="">
        <input type="hidden" name="page" id="page" value="1">
        <input type="hidden" name="pageSize" value="0">
        <input type="hidden" id="desertionNo" name="desertionNo" value="">
        <input type="hidden" id="menuNo" name="menuNo" value="1000000060">


        <!-- SEARCH -->
        <div class="search_area">
        
            <div class="search_checkbox">
                <label for="pet_sex">성별</label>
                <div id="pet_sex">
                    <input type="radio" name="pet" value="True">
                    <label for="True">수컷</label>
                    <input type="radio" name="pet" value="False">
                    <label for="False">암컷</label>
                </div>

                <label for="pet_size">크기</label>
                <div id="pet_size">
                    <input type="radio" name="pet" value="대형견">
                    <label for="대형견">대형견</label>
                    <input type="radio" name="pet" value="소형견">
                    <label for="소형견">소형견</label>                
                </div>

                <label for="pet_species">품종</label>
                <div id="pet_species">
                    <select name="searchUprCd" id="searchUprCd" class="selectM">
                        <option value="">전체</option>
                            <option value="6110000">종1</option>
                            <option value="6260000">종2</option>
                            <option value="6270000">종3</option>
                            <option value="6280000">종4</option>
                            <option value="6280000">종5</option>                            
                            <option value="6280000">종6</option>
                            <option value="6280000">종7</option>
                            <option value="6280000">종8</option>
                            <option value="6280000">믹스</option>
                            <option value="6280000">기타</option>
                    </select>
                </div>
            </div>

            <div class="search_bar">
                <span class='green_window'>
                <input id=text type="text" class='input_text' name="search" onkeydown="enterSearch()"/></span>
                <input type="button" class='sch_smit' value="검색" onclick="myFunction()"/>


    <!-- SEARCH -->


    <!-- LIST -->
    <div class="pet_list">
        <div class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog1.jpg" width = 400px>                            
            </div>
            <div class="txt">
                <span class="name"> 멍멍이 </span> | <span class="birth">2019</span> | <span class = "sex"> 암컷 </span> <br>
                <span class = "species"> 믹스견</span>                            
            </div>
        </div>

        <li class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog2.jpg" width = 400px>                                                 
            </div>
            <div class="txt">
                <span class="name"> 왈왈이 </span> | <span class="birth">2020</span> | <span class = "sex"> 수컷 </span> <br>
                <span class = "species"> 믹스견</span>  
            </div>
        </li>
        
        <li class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog2.jpg" width = 400px>                                                 
            </div>
            <div class="txt">
                <span class="name"> 왈왈이 </span> | <span class="birth">2020</span> | <span class = "sex"> 수컷 </span> <br>
                <span class = "species"> 믹스견</span>                             
            </div>
        </li>
        
        <li class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog2.jpg" width = 400px>                                                 
            </div>
            <div class="txt">
                <span class="name"> 왈왈이 </span> | <span class="birth">2020</span> | <span class = "sex"> 수컷 </span> <br>
                <span class = "species"> 믹스견</span>                             
            </div>
        </li>
        
        <li class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog2.jpg" width = 400px>                                                 
            </div>
            <div class="txt">
                <span class="name"> 왈왈이 </span> | <span class="birth">2020</span> | <span class = "sex"> 수컷 </span> <br>
                <span class = "species"> 믹스견</span>                             
            </div>
        </li>
        
        <li class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog2.jpg" width = 400px>                                                 
            </div>
            <div class="txt">
                <span class="name"> 왈왈이 </span> | <span class="birth">2020</span> | <span class = "sex"> 수컷 </span> <br>
                <span class = "species"> 믹스견</span>                             
            </div>
        </li>
        
        <li class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog2.jpg" width = 400px>                                                 
            </div>
            <div class="txt">
                <span class="name"> 왈왈이 </span> | <span class="birth">2020</span> | <span class = "sex"> 수컷 </span> <br>
                <span class = "species"> 믹스견</span>                             
            </div>
        </li>
        
        <li class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog2.jpg" width = 400px>                                                 
            </div>
            <div class="txt">
                <span class="name"> 왈왈이 </span> | <span class="birth">2020</span> | <span class = "sex"> 수컷 </span> <br>
                <span class = "species"> 믹스견</span>                             
            </div>
        </li>
        
        <li class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog2.jpg" width = 400px>                                                 
            </div>
            <div class="txt">
                <span class="name"> 왈왈이 </span> | <span class="birth">2020</span> | <span class = "sex"> 수컷 </span> <br>
                <span class = "species"> 믹스견</span>                             
            </div>
        </li>        
    </div>
    
    

</div>
    <!-- LIST -->                

    <!--  페이지 표시 시작 -->
    
    
        
    

<script type="text/javascript">

</script>
<ul class="paging">

    <li class="first"><a href="#" class="active" title="현재 페이지">1</a></li>        
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=2">2</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=3">3</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=4">4</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=5">5</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=6">6</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=7">7</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=8">8</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=9">9</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=10">10</a></li>
<li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=11" class="next">Next</a></li>
<li class="last"><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=497" class="last">Last</a></li>  
</ul>

            
        <!--  페이지 표시 끝 -->           
        <!-- 콘텐츠 영역 적용하세요 끝 -->
    </form>
    </div><!-- sub_con -->
</div><!-- center 콘텐츠 끝 -->
</div>
</body>
