<!-- last modified: Feb 7, 12:25-->


<!DOCTYPE html>
<html lang = "ko">
<head>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>


<style>
.pet_list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;   
}

.pet_info {
    display:grid;
    margin: 20px;
    align-items: center;
    grid-template-rows: 400px auto;    

}

.first:hover {
background: silver;
cursor: pointer;
}



.photo {
    text-align: center;
}


.txt {
    text-align: center;
}

.search_area{
    display: grid;
    text-align: center;
    margin: 20px;
}

.search_checkbox {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    padding: 30px;
    boarder: 10px;
    margin: 20px;
    background: silver;

}


.search_bar {
    padding: 30px;
    boarder: 10px;
    margin: 20px;
    background: silver;
}

</style>

<!-- JAVASCRIPT -->
<script type="text/javascript">
function enterSearch() {
    if(event.keyCode == 13){
        myFunction();  // 실행할 이벤트
    }
}
function myFunction() {
    var x = document.getElementById("text").value;
    window.location.href = "http://cybertramp.net/search/"+x;
}

</script>


<body>
    <div id="content"> 

        <!-- center 시작 -->
        <div id="sub_con">

            <!-- 콘텐츠 영역  적용하세요 시작 -->
        <form id="searchList" name="searchList" action="/front/awtis/protection/protectionList.do" method="get" onsubmit="return false;">
        <input type="hidden" name="boardId" value="">
        <input type="hidden" name="page" id="page" value="1">
        <input type="hidden" name="pageSize" value="0">
        <input type="hidden" id="desertionNo" name="desertionNo" value="">
        <input type="hidden" id="menuNo" name="menuNo" value="1000000060">


        <!-- SEARCH -->

        <div class="search_area">
        
            <div class="search_checkbox">
                <div id="pet_sex">
                    성별
                    <input type="radio" name="pet" value="True">
                    <label for="True">수컷</label>
                    <input type="radio" name="pet" value="False">
                    <label for="False">암컷</label>
                </div>

                <div id="pet_size">
                    크기
                    <input type="radio" name="pet" value="대형견">
                    <label for="대형견">대형견</label>
                    <input type="radio" name="pet" value="소형견">
                    <label for="소형견">소형견</label>                
                </div>

                <div id="pet_species">
                    품종
                    <select name="searchUprCd" id="searchUprCd" class="selectM">
                        <option value="">전체</option>
                            <option value="6110000">종1</option>
                            <option value="6260000">종2</option>
                            <option value="6270000">종3</option>
                            <option value="6280000">종4</option>
                            <option value="6280000">종5</option>                            
                            <option value="6280000">종6</option>
                            <option value="6280000">종7</option>
                            <option value="6280000">종8</option>
                            <option value="6280000">믹스</option>
                            <option value="6280000">기타</option>
                    </select>
                <i class="fas fa-search"></i>    
                </div>


            </div>

            <div class="search_bar">
                <form name="dataForm" action="./" method="post">
                    <input type="hidden" id="act" name="act" value="board.index">
                    <input type="hidden" id="ch" name="ch" value="sub">
                    <input type="hidden" id="bbs_code" name="bbs_code" value="sub2_1">
                    <input type="hidden" id="bbs_mode" name="bbs_mode" value="list">
                    <input type="hidden" id="seq" name="seq" value="">
                    <input type="hidden" id="oc" name="oc" value="">
                    <input type="hidden" id="os" name="os" value="">
                    <input type="hidden" id="page" name="page" value="1">

                    <ul class="list-inline text-center">
                        <li>
                            <select name="sc" class="form-control">
                                <option value="bbs_title">제목</option>
                                <option value="bbs_content">내용</option>
                                <option value="bbs_name">이름</option>
                            </select>
                        </li>
                        <li><input name="ss" value="" type="text" class="form-control whois-search-keyword"></li>
                        <li><button type="submit" class="btn btn-search">검색</button></li>
                    </ul>
                </form>
        </div>




    <!-- SEARCH -->


    <!-- LIST -->
    <div class="pet_list">
        <div class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog1.jpg" width = 400px>                            
            </div>
            <div class="txt">
                <span class="name"> 멍멍이 </span> | <span class="birth">2019</span> | <span class = "sex"> 암컷 </span> <br>
                <span class = "species"> 믹스견</span>                            
            </div>
        </div>

        <li class="pet_info">
            <div class="photo">
                <img src="/Users/winter/workspace/project/web_page/ProjectNSG/yyApp/templates/yyApp/dog2.jpg" width = 400px>                                                 
            </div>
            <div class="txt">
                <span class="name"> 왈왈이 </span> | <span class="birth">2020</span> | <span class = "sex"> 수컷 </span> <br>
                <span class = "species"> 믹스견</span>  
            </div>
        </li>
        
        <li class="pet_info">
            <div class="photo">
                <div class="thumbnail">
                    
                        
                        
                        
                        <a href="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302353.jpg" target="_blank" title="클릭시 새창이 열립니다." onclick="showImgWin('/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302353.jpg','','width=129,height=109'); return false;" onkeypress="this.onclick(); return false;">
                            <img src="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302353_s.jpg" alt="보호중동물사진 공고번호-경북-경주-2021-00079">
                        </a>
                        
                        
                    
                                                    
                </div>
                <a href="#moreBtn" class="moreBtn" onclick="javascript:moveUrl('447505202100087');" title="경북-경주-2021-00079 자세히 보기">자세히 보기</a>
            </div>
            <div class="txt">
                <span class="name"> 뭉뭉이 </span> | <span class="birth">2020</span> | <span class = "sex"> 수컷 </span> <br>
                <span class = "species"> 믹스견</span>  
            </div>
        </li>
        
        <li class="pet_info">
            <div class="photo">
                <div class="thumbnail">
                    
                        
                        
                        
                        <a href="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302844.jpg" target="_blank" title="클릭시 새창이 열립니다." onclick="showImgWin('/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302844.jpg','','width=129,height=109'); return false;" onkeypress="this.onclick(); return false;">
                            <img src="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302844_s.jpg" alt="보호중동물사진 공고번호-제주-제주-2021-00447">
                        </a>
                        
                        
                    
                                                    
                </div>
                <a href="#moreBtn" class="moreBtn" onclick="javascript:moveUrl('450650202100466');" title="제주-제주-2021-00447 자세히 보기">자세히 보기</a>
            </div>
            <div class="txt">
                <dl><dt>이름</dt><dd>2021-02-05</dd></dl>
                <dl><dt>나이(생년)</dt><dd>2019</dd></dl>                            
                <dl><dt>성별</dt><dd>암컷</dd></dl>
                <dl><dt>품종</dt><dd>믹스견</dd></dl>
            </div>
        </li>
        
        <li>
            <div class="photo">
                <div class="thumbnail">
                    
                        
                        
                        
                        <a href="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051402599.jpg" target="_blank" title="클릭시 새창이 열립니다." onclick="showImgWin('/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051402599.jpg','','width=129,height=109'); return false;" onkeypress="this.onclick(); return false;">
                            <img src="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051402599_s.jpg" alt="보호중동물사진 공고번호-경남-합천-2021-00030">
                        </a>
                        
                        
                    
                                                    
                </div>
                <a href="#moreBtn" class="moreBtn" onclick="javascript:moveUrl('448548202100030');" title="경남-합천-2021-00030 자세히 보기">자세히 보기</a>
            </div>
            <div class="txt">
                <dl><dt>이름</dt><dd>2021-02-05</dd></dl>
                <dl><dt>나이(생년)</dt><dd>2019</dd></dl>                            
                <dl><dt>성별</dt><dd>암컷</dd></dl>
                <dl><dt>품종</dt><dd>믹스견</dd></dl>
            </div>
        </li>
        
        <li>
            <div class="photo">
                <div class="thumbnail">
                    
                        
                        
                        
                        <a href="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302510.jpg" target="_blank" title="클릭시 새창이 열립니다." onclick="showImgWin('/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302510.jpg','','width=129,height=109'); return false;" onkeypress="this.onclick(); return false;">
                            <img src="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302510_s.jpg" alt="보호중동물사진 공고번호-경남-거제-2021-00109">
                        </a>
                        
                        
                    
                                                    
                </div>
                <a href="#moreBtn" class="moreBtn" onclick="javascript:moveUrl('448537202100106');" title="경남-거제-2021-00109 자세히 보기">자세히 보기</a>
            </div>
            <div class="txt">
                <dl><dt>이름</dt><dd>2021-02-05</dd></dl>
                <dl><dt>나이(생년)</dt><dd>2019</dd></dl>                            
                <dl><dt>성별</dt><dd>암컷</dd></dl>
                <dl><dt>품종</dt><dd>믹스견</dd></dl>
            </div>
        </li>
        
        <li>
            <div class="photo">
                <div class="thumbnail">
                    
                        
                        
                        
                        <a href="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302512.jpg" target="_blank" title="클릭시 새창이 열립니다." onclick="showImgWin('/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302512.jpg','','width=129,height=109'); return false;" onkeypress="this.onclick(); return false;">
                            <img src="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051302512_s.jpg" alt="보호중동물사진 공고번호-경남-거제-2021-00110">
                        </a>
                        
                        
                    
                                                    
                </div>
                <a href="#moreBtn" class="moreBtn" onclick="javascript:moveUrl('448537202100105');" title="경남-거제-2021-00110 자세히 보기">자세히 보기</a>
            </div>
            <div class="txt">
                <dl><dt>이름</dt><dd>2021-02-05</dd></dl>
                <dl><dt>나이(생년)</dt><dd>2019</dd></dl>                            
                <dl><dt>성별</dt><dd>암컷</dd></dl>
                <dl><dt>품종</dt><dd>믹스견</dd></dl>
            </div>
        </li>
        
        <li>
            <div class="photo">
                <div class="thumbnail">
                    
                        
                        
                        
                        <a href="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051102560.jpeg" target="_blank" title="클릭시 새창이 열립니다." onclick="showImgWin('/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051102560.jpeg','','width=129,height=109'); return false;" onkeypress="this.onclick(); return false;">
                            <img src="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051102560_s.jpg" alt="보호중동물사진 공고번호-경북-의성-2021-00008">
                        </a>
                        
                        
                    
                                                    
                </div>
                <a href="#moreBtn" class="moreBtn" onclick="javascript:moveUrl('447515202100008');" title="경북-의성-2021-00008 자세히 보기">자세히 보기</a>
            </div>
            <div class="txt">
                <dl><dt>이름</dt><dd>2021-02-05</dd></dl>
                <dl><dt>나이(생년)</dt><dd>2019</dd></dl>                            
                <dl><dt>성별</dt><dd>암컷</dd></dl>
                <dl><dt>품종</dt><dd>믹스견</dd></dl>
            </div>
        </li>
        
        <li>
            <div class="photo">
                <div class="thumbnail">
                    
                        
                        
                        
                        <a href="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051102545.jpeg" target="_blank" title="클릭시 새창이 열립니다." onclick="showImgWin('/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051102545.jpeg','','width=129,height=109'); return false;" onkeypress="this.onclick(); return false;">
                            <img src="/front/fileMng/imageView.do?f=/files/shelter/2020/11/202102051102545_s.jpg" alt="보호중동물사진 공고번호-경북-의성-2021-00007">
                        </a>
                        
                        
                    
                                                    
                </div>
                <a href="#moreBtn" class="moreBtn" onclick="javascript:moveUrl('447515202100007');" title="경북-의성-2021-00007 자세히 보기">자세히 보기</a>
            </div>
            <div class="txt">
                <dl><dt>이름</dt><dd>2021-02-05</dd></dl>
                <dl><dt>나이(생년)</dt><dd>2019</dd></dl>                            
                <dl><dt>성별</dt><dd>암컷</dd></dl>
                <dl><dt>품종</dt><dd>믹스견</dd></dl>
            </div>
        </li>        
    </div>
    
    

</div>
    <!-- LIST -->                

    <!--  페이지 표시 시작 -->
    
<div class="paginate_regular" style="margin:0 0 15px 0;">
    <style type="text/css">
    <!--
        
        .board_pagetab { 
            text-align:center; 
            }
        
        .board_pagetab a{
            text-decoration:none;
            font:12px verdana;
            color:#000;
            padding:0 3px 0 3px;
            }
            
        .board_pagetab a:hover {
            text-decoration:underline;
            background-color:#f2f2f2;
            }
        
        .on a{ 
            font-weight:bold;
            }
        
        
        -->

    </style>

    <div class="board_pagetab" align="absmiddle">
        <span class="on">
            <a href="#">[ 1 ]</a>
        </span>
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=2"> 2 </a>
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=3"> 3 </a> 
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=4"> 4 </a> 
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=5"> 5 </a> 
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=6"> 6 </a> 
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=7"> 7 </a> 
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=8"> 8 </a> 
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=9"> 9 </a> 
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=10"> 10 </a>&nbsp;
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=11" class="page-next">
            <img src="/images/default/button/btn_next.gif" alt="다음" align="absmiddle">
        </a>
        &nbsp;
        <a href="/?act=board&amp;bbs_code=sub2_1&amp;page=12" class="page-last">
            <img src="/images/default/button/btn_last.gif" alt="마지막" align="absmiddle">
        </a>
    </div>
</div>

        
    








<script type="text/javascript">

</script>
<ul class="paging">

    <li class="first"><a href="#" class="active" title="현재 페이지">1</a></li>        
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=2">2</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=3">3</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=4">4</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=5">5</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=6">6</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=7">7</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=8">8</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=9">9</a></li>
    <li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=10">10</a></li>
<li><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=11" class="next">Next</a></li>
<li class="last"><a href="?totalCount=4962&amp;pageSize=10&amp;menuNo=1000000060&amp;&amp;page=497" class="last">Last</a></li>  
</ul>

            
        <!--  페이지 표시 끝 -->           
        <!-- 콘텐츠 영역 적용하세요 끝 -->
    </form>
    </div><!-- sub_con -->
</div><!-- center 콘텐츠 끝 -->
</div>
</body>



<footer>
입양해조_ 김희진, 송지현, 이해동, 전승우
</footer>
