<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
</head>

{% extends "yyApp/nav.html" %}
{% block body %}
<body>

{% csrf_token %}
<!-- 최신의 사진 3개 정도만 가지고 오는 코드를 짜야 함 -->
<div class="petImage">
    <label for="image">최근 게시물</label>
    <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/dog-2785074_960_720.jpg" width = 300px>
    <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/dog-2785074_960_720.jpg" width = 300px>
    <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/dog-2785074_960_720.jpg" width = 300px>
</div>


<!-- 차트 구현. 라벨, 데이터 가져오는 뷰 코딩해야 함 -->

<div id="container" style="width: 75%;">
    <canvas id="pie-chart" data-url="{% url 'yyApp:pie-chart' %}"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $pieChart = $("#pie-chart");

      $.ajax({
        url: $pieChart.data("url"),
        success: function (data) {

          var chartOne = $pieChart[0].getContext("2d");

          new Chart(chartOne, {
            type: 'pie',
            data: {
              labels: data.labels,
              datasets: [{
                label: '6개월간 경기도 상태별 유기견 현황',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: ''
              }
            }
          });

        }
      });
     });

  </script>


</body>
{% endblock %}
</html>