
{% extends "yyApp/nav.html" %}
{% block body %}
<body>
<!-- href: 사진에 해당하는 게시글 링크 -->
{% csrf_token %}

  <style>
    .pet_list {
            display:grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 1fr 1fr ;
            gap: 10px;
    }

    .pet_image img {
        max-width: 100%;
        height: auto;
        
    }

  </style>

  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h3>최근 게시글</h3>
                <div class="pet_list">
                  {% for postID, path in pets %}    
                  <div class="pet_image">
                    <a href="{% url 'yyApp:post_detail' postID %}"><img src="http://localhost:8000/media/{{ path }}"></a>
                  </div>
                  {% endfor %}
                </div>
            </div>
          <div class="col-lg-6">
              <canvas id="pieChart" data-url="{% url 'yyApp:chart' %}"></canvas>
              <canvas id="barChart" data-url="{% url 'yyApp:chart' %}"></canvas>
          </div>
      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <script>
    $(function () {

      var $barChart = $("#barChart");
      $.ajax({
        url: $barChart.data("url"),
        success: function (data) {

          var ctx2 = $barChart[0].getContext("2d");

          new Chart(ctx2, {
            type: 'bar',
            data: {
              labels: data.labelsBar,
              datasets: [{
                label: '지역',
                backgroundColor: [
                  '#006400', '#228B22', '#64CD3C', '#80E12A', '#7DEEBC', '#D2FFD2',   
                ],
                data: data.dataPie
              }]
            },
            options: {
              responsive: true,
              legend: {
                display: false,
                position: 'top',
              },
              title: {
                display: true,
                text: '6개월간 경기도 지역별 유기견 수',
                fontSize: 20,
                padding: 30,
              },
              tooltips: {
              },
            }
          });
        }
      });

      var $pieChart = $("#pieChart");
      $.ajax({
        url: $pieChart.data("url"),
        success: function (data) {

          var ctx = $pieChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'pie',
            data: {
              labels: data.labelsPie,
              datasets: [{
                label: '상태',
                backgroundColor: [
                '#006400', '#63CC63', '#7DF4B2', '#3BE0CB', '#28E7FF', '#A7EEFF',
                ],
                borderAlign: 'center',
                data: data.dataPie,
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'bottom',
              },
              title: {
                display: true,
                text: '6개월간 경기도 상태별 유기견 수',
                fontSize: 20,
                padding: 30,
              },
              tooltips: {
              },
            }
          });
        }
      });
    });
  </script>

</body>
{% endblock %}
</html>