<head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" >
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <nav class="navbar">
    <div class="navbar__logo">
      <a href="/yyApp">나랑살개</a>
    </div>

    <ul class="navbar__menu">
      <li><a href="{% url 'yyApp:board_list' %}">보호자 게시판</a></li>
      <li><a href="">마이페이지</a></li>
    </ul>

    <ul class="navbar__signin">
      {% if login_member%}
        <li><a href="{% url 'yyApp:logout' %}">로그아웃</a></li>
      {% else %}
        <li><a href="{% url 'yyApp:login' %}">로그인</a></li>
        <li><a href="{% url 'yyApp:join' %}">회원가입</a></li>
      {% endif %}
    </ul>



  </nav>
</head>

{% block body %}
{% endblock %}


<footer>
입양해조_ 김희진, 송지현, 이해동, 전승우
</footer>
