<!DOCTYPE html>
<html>
<head>
    {% extends "yyApp/nav.html" %}
    {% block body %}
    <meta charset="UTF-8">
    <style>
        [class*="row"]{
            padding: 8px;
            margin: 5px;
            border: 1px solid gray;
            
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h3><strong>{{ post.title }}</strong></h3>
    </div>
    <div class="row-lg-12">
        <p>{{ post.content|linebreaksbr }}</p>
        <p>{{ post.hashtag }}</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {% if pet.petImage %}
                <img src="{{ pet.petImage.url }}" width="300" height="300">
            {% endif %}
        </div>
        <div class="col-lg-8">
            <table class="table table-bordered table-hover jumbotron text-center" style="background-color white">
                <tr>
                    <th bgcolor="lightgrey">이름</th>
                    <td>{{ pet.petName }}</td>
                </tr>
                <tr>
                  <th bgcolor="lightgrey" class="first">생일</th>
                  <td colspan="3" class="last"> {{ pet.petBirth }} </td>
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">성별</th>
                    {% if pet.petSex == True %}
                        <td colspan="3" class= "last"><i class="fas fa-mars"></i></td>
                    {% elif pet.petSex == False %}
                        <td colspan="3" class= "last"><i class="fas fa-venus"></i></td>
                    {% else %}
                        <td colspan="3" class= "last"><i class="fas fa-question"></i></td>
                    {% endif %}

                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">사이즈</th>
                    <td colspan="3" class="last"> {{ pet.petSize }}</td>
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">보호 장소</th>
                    <td colspan="3" class="last"> {{ pet.petLoc }}</td>
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">견종</th>
                    <td colspan="3" class="last"> {{ pet.petSpecies}}</td>
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">무게</th>
                    <td colspan="3" class="last"> {{ pet.petWeight }}</td>
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">중성화 여부</th>
                    {% if pet.petSex == True %}
                        <td colspan="3" class="last">중성화 O</td>
                    {% elif pet.petSex == False %}
                        <td colspan="3" class="last">중성화 X</td>
                    {% else %}
                        <td colspan="3" class="last">모름</td>
                    {% endif %}
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">색</th>
                    <td colspan="3" class="last"> {{ pet.petColor }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <strong style="padding:15px 0px 15px 15px">댓글</strong> <br>
        <div class="col-lg-12">
            {% for comment in comments.all %}
                <table class="table table-bordered">
                    <tr>
                        <td style="font-size:13px;"><strong style="font-size:20px;">{{ comment.memberID }}</strong> {{ comment.date }}</td>
                    </tr>
                    <tr>
                        <td>{{ comment.content }}</td>
                    </tr>
                </table>
            {% empty %}
                아직 댓글이 없어요
            {% endfor %}
            <a class="btn btn-outline-dark" href="{% url 'yyApp:add_comment_to_post' postID=post.id %}">Add comment</a>
        </div>
    </div>

    {% if is_check %}
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
                <a class="btn btn-outline-dark">수정</a>
                <a class="btn btn-outline-dark" href="{% url 'yyApp:post_delete' %}?id={{ post.id }}">삭제</a>
            </div>
        </div>
    {% endif %}
</div>


</body>
{% endblock %}
</html>