<!DOCTYPE html>
<html>
<head>
    {% extends "yyApp/nav.html" %}
    {% block body %}
    <meta charset="UTF-8">
    <style>
        [class*="row"]{
            padding: 8px;
            margin: 5px;
            border: 1px solid gray;
            
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <h3><strong>{{ post.title }}</strong></h3>
    </div>
    <div class="row-lg-12">
        <p>{{ post.content|linebreaksbr }}</p>
        <p>{{ post.hashtag }}</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {% if pet.petImage %}
                <img src="{{ pet.petImage.url }}" class="rounded mx-auto d-block img-fluid">
            {% endif %}
        </div>
        <div class="col-lg-8">
            <table class="table table-bordered table-hover jumbotron text-center" style="background-color white">
                <tr>
                    <th bgcolor="lightgrey">이름</th>
                    <td>{{ pet.petName }}</td>
                </tr>
                <tr>
                  <th bgcolor="lightgrey" class="first">생일</th>
                  <td colspan="3" class="last"> {{ pet.petBirth }} </td>
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">성별</th>
                    {% if pet.petSex == True %}
                        <td colspan="3" class= "last"><i class="fas fa-mars"></i></td>
                    {% elif pet.petSex == False %}
                        <td colspan="3" class= "last"><i class="fas fa-venus"></i></td>
                    {% else %}
                        <td colspan="3" class= "last"><i class="fas fa-question"></i></td>
                    {% endif %}

                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">사이즈</th>
                    <td colspan="3" class="last"> {{ pet.petSize }}</td>
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">보호 장소</th>
                    <td colspan="3" class="last"> {{ pet.petLoc }}</td>
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">견종</th>
                    <td colspan="3" class="last"> {{ pet.petSpecies}}</td>
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">무게</th>
                    <td colspan="3" class="last"> {{ pet.petWeight }}</td>
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">중성화 여부</th>
                    {% if pet.petSex == True %}
                        <td colspan="3" class="last">중성화 O</td>
                    {% elif pet.petSex == False %}
                        <td colspan="3" class="last">중성화 X</td>
                    {% else %}
                        <td colspan="3" class="last">모름</td>
                    {% endif %}
                </tr>
                <tr>
                    <th bgcolor="lightgrey" class="first">색</th>
                    <td colspan="3" class="last"> {{ pet.petColor }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <strong style="padding:15px 0px 15px 15px">댓글</strong> <br>
            {% for comment in comments.all %}
                <table class="table">
                    <tr>                    
                        <td style="font-size:13px;" bgcolor="#dbe2ef"><strong style="font-size:20px;"> {{ comment.memberID }}</strong> {{ comment.date }} </td>
                        <td style="border-left: None;" align="right" bgcolor="#dbe2ef">
                            {% if comment.memberID  == login_member %}
                                <a class="btn btn-light btn-sm">수정</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'yyApp:comment_delete' comment.id %}">삭제</a> 
                        {% else %}
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" bgcolor="#f9f7f7">{{ comment.content }}</td>
                    </tr>
                </table>
            {% empty %}
                <br>
                아직 댓글이 없어요
                <br>
                <br>
            {% endfor %}

        <div class = "container shadow-sm">
            <form action = {% url 'yyApp:comment_write' post.id %} method = "POST">
                <div class = "row" style="border:none;">
                {% csrf_token %}
                    <div class="col-sm-10">            
                        <textarea cols=80 name="content" placeholder="댓글을 입력해주세요."></textarea>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-outline-dark">댓글 달기</button>
                    </div> 
                </div>
            </form>
        </div>    
    </div>

    {% if is_check %}
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
                <a class="btn btn-outline-dark">수정</a>
                <a class="btn btn-outline-dark" href="{% url 'yyApp:post_delete' %}?id={{ post.id }}">삭제</a>
            </div>
        </div>
    {% endif %}
</div>


</body>
{% endblock %}
</html>