<!DOCTYPE html>
<html>
<head>
  {% extends "yyApp/nav.html" %}
  {% block body %}

  <meta charset="UTF-8">

</head>

<body>
<div class="container my-3">
    <div>
        <h4 style="text-align:center;">게시판 글쓰기</h4>
        <h6 style="color:red; text-align:center;">{{ errors }}</h6>
    </div>

    <form method="POST" class="post-form" action="." enctype="multipart/form-data"> <!--내부의 정보를 한번에 서버로 전송-->
        {% csrf_token %} <!-- 공격에 대한 취약성을 보완하는 기능?-->

        <!--게시판 글쓰기 시작-->
        <div class="form-group">
          <label for="title">제목</label>
          <input type="text" class="form-control" name="title" id="title">
        </div>

        <div class="form-group">
          <label for="petName">펫 이름</label>
          <input type="text" class="form-control" id="petName" name="petName">
        </div>

        <div class="form-group">
          <label for="petBirth">출생/보호 날짜</label>
          <input type="date" class="form-control" id="petBirth" name="petBirth">
        </div>

        <div class="form-group">
          <label for="petSex">성별</label>
          <select class="form-control selectpicker noborder" name="petSex" id="petSex">
            <option value=None>--모름--</option>
            <option value="Male">수컷</option>
            <option value="Female">암컷</option>
          </select>
        </div>

        <div class="form-group">
          <label for="buttons">크기</label>
          <div class="btn-group" id="buttons">
            <label class="btn btn-outline-primary">
              <input type="radio" name="petSize" value="대형견">
              대형견
            </label>
            <label class="btn btn-outline-primary">
              <input type="radio" name="petSize" value="소형견">
              소형견
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="petFoundLocation">보호장소</label>
          <select class="form-control selectpicker noborder" name="petLoc" id="petFoundLocation">
            <option value=None>선택</option>
            <option value="서울">서울</option>
            <option value="경기북부">경기북부</option>
            <option value="경기남부">경기남부</option>
            <option value="강원">강원</option>
            <option value="충북">충북</option>
            <option value="충남">충남</option>
            <option value="전북">전북</option>
            <option value="전남">전남</option>
            <option value="경북">경북</option>
            <option value="경남">경남</option>
            <option value="제주">제주</option>
          </select>
        </div>

        <div class="form-group">
          <label for="petSpecies">견종</label>
          <select class="form-control selectpicker noborder" name="petSpecies" id="petSpecies">
            <option value=None>선택</option>
            <option value="골든리트리버">골든리트리버</option>
            <option value="요크셔테리어">요크셔테리어</option>
            <option value="말티즈">말티즈</option>
            <option value="시츄">시츄</option>
            <option value="푸들">푸들</option>
            <option value="포메라니안">포메라니안</option>
            <option value="비글">비글</option>
            <option value="브렌치불독">브렌치불독</option>
            <option value="믹싱견">믹싱견</option>
            <option value="기타">기타</option>
          </select>
        </div>

        <div class="form-group">
          <label for="petWeight">무게</label>
          <input type="text" class="form-control" id="petWeight" name="petWeight">
          </select>
        </div>

        <div class="form-group">
          <label for="petNeuter">중성화 여부</label>
          <select class="form-control selectpicker noborder" id="petNeuter" name="petNeuter">
              <option value=None>--모름--</option>
              <option value="yes">중성화 O</option>
              <option value="no">중성화 X</option>
          </select>
        </div>

        <div class="form-group">
          <label for="petColor">털 색</label>
          <select class="form-control selectpicker noborder" name="petColor" id="petColor">
            <option value="검정색">검정색</option>
            <option value="하얀색">하얀색</option>
            <option value="황색">황색</option>
            <option value="갈색">갈색</option>
          </select>
        </div>

        <div class="form-group">
          <label for="petImage">사진 첨부</label>
          <input type="file" id="petImage" name="petImage" accept="image/*">
        </div>

        <div class="form-group">
          <label for="hashtag">해시태그</label><br>
          <input type="text" class="form-control" id="hashtag" name="hashtag" placeholder="#태그 입력">
        </div>

        <div>
          <label for="petName">본문</label><br>
          <textarea rows ="10" cols="50" name="content"></textarea><br>
          <input type="submit" value="글쓰기" class="btn btn-outline-dark"><br><!--type="submit" 버튼이 클릭되면 서버로 전송-->
        </div>

    </form>
</div>
</body>
{% endblock %}
</html>
